<main class="container user_profile tab_wrapper">
	<% if @user.profile_picture.attached? %>
    	<%= image_tag user_profile_picture(@user, 150), class: "user_profile-picture" %>
	<% end %>
    <h1><%= @user.name %></h1>
	<div class="user_profile_follows">
		<p><%= @user.followers.count %> follower </p>
		<p><%= @user.followings.count %> following </p>
	</div>
	
    <div class="tab-wrap">

    <!-- active tab on page load gets checked attribute -->
    <input type="radio" id="tab1" name="tabGroup1" class="tab" checked>
    <label for="tab1">Posts</label>

    <input type="radio" id="tab2" name="tabGroup1" class="tab">
    <label for="tab2">Replies</label>

    <div class="tab__content">
      <%= render @user.authored_posts.sort_by_recency %>
    </div>

    <div class="tab__content">
	  <%= render @user.comments %>
    </div>

  </div>
</main>