<article class="article">
  <div class="article_header">
    <%= image_tag user_profile_picture(post.author, 50), class: "user_profile-picture" %>
    <div>
        <h1><%= post.author.name %></h1>
    </div>
  </div>

  <div class="article_body">
    <p><%= post.body %></p>
  </div>

  <div class="article_footer">
    <div class="article_footer-likes">
        <% if @user.liked_posts.include?(post) %>
          <%= button_to unlike_post_path(post), method: :delete, class:"btn" do %>
              <i class="fa-regular fa-heart"></i>
              <span id="posts"><%= post.likes_count %></span>
          <% end %>
        <% else %>
          <%= button_to like_post_path(post), class:"btn" do %>
              <i class="fa-regular fa-heart"></i>
              <span id="posts"><%= post.likes_count %></span>
          <% end %>
        <% end %>
    </div>
    <div class="article_footer-comments">
        <button class="btn" id="btn_link">
          <%= link_to post_comments_path(post) do %>
            <i class="fa-regular fa-comment"></i>
            <span><%= post.comments_count %></span>
          <% end %>
        </button>
    </div>
  </div>
</article>
