<article class="post">
  <div class="post_header">
    <%= image_tag user_profile_picture(post.author, 50), class: "user_profile-picture" %>
    <div>
        <h1><%= post.author.name %></h1>
    </div>
  </div>

  <div class="post_body">
    <p><%= post.body %></p>
  </div>

  <div class="post_footer">
    <div class="post_footer-likes">
        <%= button_to like_post_path(post), class:"btn" do %>
            <i class="fa-regular fa-heart"></i>
            <span><%= post.likes_count %></span>
        <% end %>
    </div>
    <div class="post_footer-comments">
        <button class="btn" id="btn_link">
          <%= link_to post_comments_path(post) do %>
            <i class="fa-regular fa-comment"></i>
            <span><%= post.comments_count %></span>
          <% end %>
        </button>
    </div>
  </div>
</article>
