<div class="navbar">
  <nav>
    <ul>
      <li class="nav-left"><%= link_to 'Odinbook', posts_path %></li>
      <% unless user_signed_in? %>
        <li class="nav-right"><%= link_to 'Sign in', new_user_session_path %></li>
        <li class="nav-right"><%= link_to 'Register', new_user_registration_path %></li> 
      <% else %>
        <li class="nav-right"><%= link_to 'Sign out', destroy_user_session_path %></li>
        <li class="nav-right"><%= link_to 'My Profile', user_path(current_user) %></li>
      <% end %>
    </ul>
  </nav>
</div>
  